<html xmlns:th="http://www.thymeleaf.org">

<body>
	<p>Please update client!</p>

	<form action="#" th:action="@{/client/filter/update?id=__${id}__}" th:object="${client}" th:method="post">
		<table>
			<tr>
				<td>Name:</td>
				<td> <input type="text" th:field="*{name}" /> </td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></td>
			</tr>
			<tr>
				<td>Surname:</td>
				<td> <input type="text" th:field="*{surname}" /> </td>
				<td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" ></td>
			</tr>
			<tr>
				<td>Phone number:</td>
				<td> <input type="text" th:field="*{phoneNo}" /> </td>
				<td th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}" ></td>
			</tr>
			<tr>
				<td> <input type="submit" name="Save"/></td>
			</tr>
		</table>
	</form>


</body>


</html>